.nav .breadcrumb {
    margin: 0 7px;
}
@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}


.btnspecial-yellow {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #ffe714;
  font-size: 15px;
  padding: 10px;
  border: solid #ffe714 2px;
  text-decoration: none;
}
.btnspecial-green {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #27b52c;
  font-size: 15px;
  padding: 10px;
  border: solid #27b52c 2px;
  text-decoration: none;
}
.btnspecial-blue {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #3cb0fd;
  font-size: 15px;
  padding: 10px;
  border: solid #3cb0fd 2px;
  text-decoration: none;
}

.btnspecial-yellow:hover {
  border: solid #4f4f4f 2px;
  background: #ffe714;
  text-decoration: none;
}
.btnspecial-green:hover {
  border: solid #4f4f4f 2px;
  background: #27b52c;
  text-decoration: none;
}
.btnspecial-blue:hover {
  border: solid #4f4f4f 2px;
  background: #3cb0fd;
  text-decoration: none;
}
