.nav .breadcrumb {
    margin: 0 7px;
}
@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}


.btnspecial {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Arial;
  color: #4f4f4f;
  font-size: 15px;
  padding: 10px;
  border: solid #4f4f4f 2px;
  text-decoration: none;
}

.btnspecial-yellow:hover {
  background: #ffe714;
  text-decoration: none;
}
.btnspecial-green:hover {
  background: ##00b706;
  text-decoration: none;
}
.btnspecial-blue:hover {
  background: #3cb0fd;
  text-decoration: none;
}
