html,
body {
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
#root {
  z-index: 100;
  overflow: hidden;
  position: absolute;
  /* pointer-events: none; */
  font-size: 15px;
  color: rgb(215, 227, 228);
}
#root font > span {
  float: left;
}
#root font {
  display: table-caption;
}
#background {
  background: rgb(21, 22, 22);
  width: 100vw;
  height: 100vh;
  z-index: -100;
  position: absolute;
  left: 0;
  top: 0;
}
.selected::before {
  content: "-";
}
.underlined {
  text-decoration: underline;
}
pre {
  display: inline;
  margin: 0;
  white-space: pre-wrap;
}

.text-container {
  padding-left: 2em;
}

.image-container {
  position: absolute;
  bottom: calc(70vh - 4ch);
  left: calc(90vw - 39ch);
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.row {
  margin-top: 3em;
  height: 100%;
  width: 100%;
}

.column {
  height: 100vh;
}

.column-text {
  overflow: auto;
  width: 40%;
  font-family: monospace;
}
.sim-res {
  position: absolute;
  top: 10px;
  right: 10px;
}
.sim-res a {
  float: right !important;
}
a {
  /* pointer-events: all; */
  color: rgb(218, 224, 227);
}

@media screen and (max-width: 800px) {
  .disclaimer {
    display: none;
  }
  .page {
    max-width: unset;
  }
  #root {
    margin: 1em 3ch !important;
  }
}
#fluid-canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  margin: 3em 9ch;
  font-family: "Source Code Pro", monospace;
  line-height: 1.6;
  font-style: normal;
  position: relative;
}

.page {
  max-width: 110ch;
}

a {
  color: rgb(170 209 228);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.disclaimer {
  width: 26ch;
  margin-top: 42px;
  margin-right: 5%;
}

.ascii-art {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  line-height: 1;
  white-space: pre;
  letter-spacing: -1px;
}

.page {
  overflow-x: scroll;
}

ul > li:not(:first-child) {
  margin-top: 1em;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Source Code Pro'), url('SourceCodePro-VariableFont_wght.ttf') format('ttf');
}

