<style>
body {
    background: #002a33;
    margin: 0px;
    padding: 0px;
}
</style>
<link rel="stylesheet" type="text/css" href="https://ethansawesomewebsite.tk/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://ethansawesomewebsite.tk/css/mycss.css">


<footer>
  <div id="navfoot">
    <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
            <div class="navbar-collapse collapse" id="footer-body">
              <p class="navbar-text copyright">&copy; Ethan Lowenthal 2017</p>
                <ul class="nav navbar-nav">
                  <li><a href="https://ethansawesomewebsite.tk/credits">Credits</a></li>
                  <li><a href="https://ethansawesomewebsite.tk/contact">Contact Me</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="https://github.com/EthanLowenthal" target="_blank">GitHub</a></li>
                  <li><a href="https://www.facebook.com/ETHANMLOWENTHAL" target="_blank">Facebook</a></li>
                </ul>
            </div>
          	<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-body">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

        </div>
    </nav>
  </div>

</footer>



<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
  });
</script>
	<script type="text/javascript" src="https://ethansawesomewebsite.tk/js/jquery.js"></script>
	<script type="text/javascript" src="https://ethansawesomewebsite.tk/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			var $hero = $('#hero');
			var $nav = $('nav');

			var size = function() {
				$hero.height( $(window).height() - ($nav.outerHeight()*2) );
			};

			$(window).on('resize', size).trigger('resize');
		});
	</script>
</body>

<script>
var dropup = "<li class=\"nav-item dropdown\"><a class=\"nav-link dropdown-toggle\" href=\"#\" id=\"navbarDropdownMenuLink\" data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">Find me on...</a><div class=\"dropdown-menu\" aria-labelledby=\"navbarDropdownMenuLink\"><img src=\"http://seeklogo.com/images/S/snapchat-logo-178D29F75B-seeklogo.com.png\" hspace=\"20\" alt=\"Snapchat\" style=\"width:32px;height:32px;\" data-tooltip=\"meep2378\"><img src=\"https://img.clipartfest.com/49803d8eb5ea235a5860ac942caece70_download-png-download-eps-instagram-logo-clipart-png_1024-1024.png\" hspace=\"20\" data-tooltip=\"ethan.lowenthal\" alt=\"Instagram\" style=\"width:32px;height:32px;\"></div></li>"


var navbar = "<div class=\"container\"><div class=\"navbar-collapse collapse\" id=\"footer-body\"><p class=\"navbar-text copyright\">&copy; Ethan Lowenthal 2017</p><ul class=\"nav navbar-nav\"><li><a href=\"https://ethansawesomewebsite.tk/credits\">Credits</a></li><li><a href=\"https://ethansawesomewebsite.tk/contact\">Contact Me</a></li></ul><ul class=\"nav navbar-nav navbar-right\"><li><a href=\"https://github.com/EthanLowenthal\" target=\"_blank\">GitHub</a></li><li><a href=\"https://www.facebook.com/ETHANMLOWENTHAL\" target=\"_blank\">Facebook</a>"+dropup+"<div class=\"navbar-header\"><button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\"#footer-body\"><span class=\"icon-bar\"></span><span class=\"icon-bar\"></span><span class=\"icon-bar\"></span><span class=\"icon-bar\"></span></button></div></div></nav>"

$(document).ready(function () {
    if ($(document).height() > $(window).height()) {
        document.getElementById("navfoot").innerHTML = "<nav class=\"navbar navbar-default navbar-static-bottom\">"+navbar
    }

    else {
        document.getElementById("navfoot").innerHTML = "<nav class=\"navbar navbar-default navbar-fixed-bottom\">"+navbar
    }
});
</script>
