<html lang="en">
<style>
body {
    background: #002a33 !important;
    margin: 0px;
    padding: 0px;
}
</style>
	<head>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  
    <!-- <link rel="stylesheet" type="text/css" href="https://ethansawesomewebsite.tk/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://ethansawesomewebsite.tk/css/mycss.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113649034-1"></script>
  <script type="text/javascript" src="https://ethansawesomewebsite.tk/js/jquery.js"></script>
<!--  <script type="text/javascript" src="https://ethansawesomewebsite.tk/js/bootstrap.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113649034-1');
</script>

<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Language" content="en">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="title">
    </div>


    <style type="text/css">
    	body { overflow: hidden; }
    	.navbar { margin-bottom: 0; }
    </style>

    <nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="../">Home</a>
    <script>
    var url = window.location.href.replace("#", "");
    if (url != "../") {
      url = url.slice(0, -1);
      url = url.replace("https","http");
      url = url.replace("http://ethansawesomewebsite.tk/","");
      var pages = url.split("/");
      var breadcrumb = "";
      for (i = 0; i < pages.length; i++) {
        breadcrumb += "<li><a href=\"../"+pages[i]+"\">"+pages[i]+"</a></li>";
      }

      document.getElementById("path").innerHTML =
              "<li><a href=\"../\">Home</a></li>"+
              breadcrumb
    }
    document.getElementById("title").innerHTML =
    "<title>"+pages[pages.length - 1]+" | Ethan Lowenthal</title>"
    console.log(breadcrumb);
    </script>
		</div>

		<div class="collapse navbar-collapse" id="nav-collapse">

			<ul class="nav navbar-nav">
        <ul class="breadcrumb list-inline" id="path">
        </ul>
				<li><a href="../aboutme">About Me</a></li>
				<li><a href="../projects">Projects</a></li>
			</ul>


		</div>

	</div>
</nav>
</head>
