<html lang="en">
<style>
body {
    background: #002a33;
    margin: 0px;
    padding: 0px;
}
</style>
	<head>
<link rel="shortcut icon" href="http://ethansawesomewebsite.tk/favicon.ico" type="image/x-icon"/>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Language" content="en">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Ethan Lowenthal</title>

		<link rel="stylesheet" type="text/css" href="http://ethansawesomewebsite.tk/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://ethansawesomewebsite.tk/css/mycss.css">

    <style type="text/css">
    	body { overflow: hidden; }
    	.navbar { margin-bottom: 0; }
    </style>

    <nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="http://ethansawesomewebsite.tk/">Home</a>
    <script>
    var url = window.location.href;
    url = url.slice(0, -1);
    url = url.replace("http://ethansawesomewebsite.tk/","");
    var pages = url.split("/");
    var breadcrumb = "";
    for (i = 0; i < pages.length; i++) {
      bredcrumb += "<li><a href=\"#\">"+pages[i]+"</a></li>";
    }
    document.getElementById("path").innerHTML =
            "<li><a href=\"#\">Home</a></li>"+
            breadcrumb
    </script>
		</div>

		<div class="collapse navbar-collapse" id="nav-collapse">

			<ul class="nav navbar-nav">
        <ul class="breadcrumb list-inline" id="path">
        </ul>
				<li><a href="http://ethansawesomewebsite.tk/aboutme">About Me</a></li>
				<li><a href="http://ethansawesomewebsite.tk/projects">Projects</a></li>
			</ul>


		</div>

	</div>
</nav>
</head>
